<mat-toolbar color="primary">
  <span>Boatly Passage Logger</span>
</mat-toolbar>

<div class="container">

  <mat-card>
    <mat-card-title>{{statusTitle}}</mat-card-title>
    <mat-card-subtitle>{{status.description}}</mat-card-subtitle>
    <mat-card-content>{{additionalInfo}}</mat-card-content>
    <button *ngIf="(status.status == 'RECORDING') || (status.status == 'STOPPED')" mat-raised-button color="primary" (click)="finishPassage()">Finish</button>
  </mat-card>

  <mat-card style="margin-top: 15px;">
    <mat-card-title>Recorded Passages</mat-card-title>
    <div *ngIf="passages && passages.length > 0">

      <mat-list>
        <div *ngFor="let passage of passages">
          <mat-list-item *ngIf="passage.status != 'Recording'">
            <div *ngIf="passage.status == 'Uploading' || passage.status == 'Completed' || passage.status == 'Queued' || passage.status == 'Failed'"
              style="margin-right: 20px">
              {{ passage.start | date : 'MMMM d HH:mm'}} to {{passage.end | date : 'MMMM d HH:mm'}}</div>

            <mat-chip-list *ngIf="passage.status == 'Uploading' || passage.status == 'Queued'">
              <mat-chip color="primary" selected>{{passage.status}}</mat-chip>
            </mat-chip-list>

            <mat-chip-list *ngIf="passage.status == 'Failed'">
              <mat-chip color="warn" selected>{{passage.status}}</mat-chip>
            </mat-chip-list>

            <button *ngIf="passage.status == 'Completed'" mat-raised-button (click)="processPassage(passage)">
              Upload
            </button>

            <button *ngIf="passage.status == 'Failed'" style="margin-left: 10px" mat-raised-button
              (click)="processPassage(passage)">
              Retry
            </button>

            <button *ngIf="passage.status == 'Completed' || passage.status == 'Failed'" style="margin-left: 10px"
              mat-raised-button color="warn" (click)="discardPassage(passage)">
              Discard
            </button>

            <button mat-button style="margin-left: 10px">Download GPX file</button>

            <mat-divider></mat-divider>

          </mat-list-item>
        </div>
      </mat-list>
    </div>
  </mat-card>

  <div *ngIf="passages && passages.length == 0">
    There are no recorded passages to upload.
  </div>

</div>
