<mat-toolbar color="primary">
  <span>Boatly Passage Logger</span>
</mat-toolbar>

<div class="container">

  <mat-card id="parent" style="min-height: 178px;">
    <mat-card-header>
      <mat-card-title>{{statusTitle}}</mat-card-title>
      <mat-card-subtitle>{{status.description}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="ml">
      <p>{{additionalInfo}}</p>
    </mat-card-content>

    <mat-card-actions class="ml" *ngIf="(status.status == 'RECORDING') || (status.status == 'STOPPED')">
      <button mat-raised-button color="primary" (click)="finishPassage()">Finish</button>
    </mat-card-actions>

    <mat-divider></mat-divider>

    <mat-card-footer id="child" class="ml">
      <mat-card-subtitle>Database path: {{DBPath}}</mat-card-subtitle>
    </mat-card-footer>
  </mat-card>

  <mat-card style="margin-top: 15px;">
    <mat-card-title>
      Recorded Passages <span *ngIf="completedPassages" style="float: right;"><button (disabled)='deleting'
          mat-raised-button color="primary" (click)="deleteCompleted()">Delete completed passages</button></span>
    </mat-card-title>

    <div *ngIf="! isLoggedIn">
      <p class="notLoggedIn">You're not logged in</p>
      <p>You must be authenticated with Boatly before you can upload sailing passages.</p>
      <p>Enter your Boatly login details in the plugin's <a
          href="{{host}}/admin/#/serverConfiguration/plugins/signalk-boatly">configuration settings in the SignalK
          server</a> admin application.</p>
    </div>

    <div *ngIf="noRecordedPassages">
      There are no recorded passages to upload.
    </div>
  </mat-card>

  <div>

    <div *ngFor="let passage of passages">

      <mat-card *ngIf="passage.status != 'recording'" style="margin-top: 10px">
        <mat-card-subtitle>{{ passage.start | date : 'MMMM d HH:mm'}} to {{passage.end | date : 'MMMM d HH:mm'}}
        </mat-card-subtitle>

        <div style="margin-bottom: 20px;">
          <div *ngIf="passage.status == 'completed'" class="status">Ready for upload to Boatly</div>
          <div *ngIf="passage.status == 'processed'" class="status">Completed</div>
          <div *ngIf="passage.status == 'processing'" class="status">Processing</div>
          <div *ngIf="passage.status.includes('failed')" class="status">{{getFailedText(passage.status)}}</div>
        </div>
        <button *ngIf="passage.status == 'completed'" mat-raised-button (click)="processPassage(passage)">
          Upload
        </button>

        <button *ngIf="passage.status.includes('failed')" mat-raised-button style="margin-right: 10px"
          (click)="processPassage(passage)">
          Retry
        </button>

        <button *ngIf="passage.status == 'completed' || passage.status.includes('failed')"
          style="margin-left: 10px; margin-right: 10px;" mat-raised-button color="warn"
          (click)="discardPassage(passage)">
          Discard
        </button>

        <button mat-raised-button color="accent" (click)="downloadGPX(passage)">Download GPX file</button>

      </mat-card>

    </div>

  </div>

</div>
